@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  font-family: "montserrat";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  margin: auto;
}
.shop {
  background: #928d8d;
  width: max-content;
}
.order {
  /* background: #5858ca; */
  justify-content: center;
}
.product {
  background-color: #2e2e33;
  width: 100%;
  display: flex;
  /* margin: 25% 20%; */
}

img {
  object-fit: cover;
  width: 9em;
  border-radius: 1em;
}
.info {
  background: #54b464;
  opacity: 50%;
  margin: 0% 3%;
  width: 50%;
}
.item {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 10fr;
  padding: 1% 5%;
  /* background: #719c77; */
  border: 1px solid #828282;
  border-radius: 12px;
  font-size: 2em;
  align-items: center;
}
.field {
  width: 90%;
  margin: 5%;
  height: 0.8em;
  border: none;
  background: none;
  font-size: 0.5em;
}
form {
  max-width: 50%;
  min-width: 40%;
  padding: 5%;
  /* background: #796eda; */
}
.formColumn2 {
  background: rgb(100, 205, 219);

  width: 100%;

  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr;
}
.formColumn2 label {
  background-color: khaki;
  width: 100%;
}

@media screen and (min-width: 660px) {
  .main {
    flex-direction: row-reverse;
    column-gap: 9%;
  }
}
